@import './variables';

.student-list {
  .list {
    display: flex;
    flex-flow: row wrap;

    //TODO GTB-知识点: - 不建议使用ID选择器
    #add_student-button {
      background-color: inherit;
      border: 1px solid $gray;
    }
  }
}
